*{
    margin: 0;
    padding: 0;
}

.navigation{
    background: darkblue;
    text-align: center;
}

.navigation-link{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    vertical-align: middle;
}

.green-btn{
    padding: 10px 15px;
    background-color: mediumaquamarine;
    border-radius: 5px;
}
.navigation-img {
    height: 40px;
}

.slogan{
    background:url("https://ibatech.az/wp-content/uploads/2019/10/banner.jpg") no-repeat ;
    background-size: cover;
    padding: 300px 0 200px;
    text-align: center;
}

.slogan-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
}

